*.csv filter=lfs diff=lfs merge=lfs -text
map/fire-proneness-map/final_data.csv filter=lfs diff=lfs merge=lfs -text
map/fire-proneness-map/all_predictions_5years.csv filter=lfs diff=lfs merge=lfs -text
